* {
    margin: 0;
    padding: 0;
    font-weight: bold;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #cadaeb; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 500px;
    width: 400px; 
    border-radius: 20px;
    background: linear-gradient(145deg, #5d7fe7, #0f37b0);
    box-shadow: 20px 20px 50px rgba(0, 0, 50, 0.2),
                -20px -20px 50px rgba(255, 255, 255, 0.3); 
    padding: 2em;
}


#QrCodeImage {
    max-width: 100%;
    height: auto;
    margin-bottom: auto;
    border-radius: 5px;
    height: 230px;
    color: red;
    background-color: green;
}

.img1 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1em;
}

input {
    height: 45px;
    width: 100%;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2); 
    color: #ffffff;
    padding-left: 1em;
    outline: none;
    margin-bottom: 1em; /* Espacement entre l'input et les boutons */
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 1em; /* Ajoute un léger espacement par rapport à l'input */
}

.img:hover {
    transform: scale(1.05); 
}

::placeholder {
    color: #fefefe79;
    font-size: 1em;
}

.btn, .down {
    position: relative;
    height: 3rem;
    width: 9rem;
    border-radius: 50px;  
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.svg{
    position: absolute;
    height: 20px;
    left: 30px;
}

.btn {
    background-color: #6cddfc;
    border:3px solid transparent; 
}

.down {
    background-color: #f39c12;
    padding-left: 4rem;
    padding-top:12px;
    border:3px solid transparent; 
    text-decoration: none;
}

.btn:hover, .down:hover {
    transform: translateY(-3px); 
    border:3px solid #fefefe;
}

@media only screen and (max-width: 690px){
    .container {
        width: 350px ;
    }

}